<style>
  .button {
background-color: Crimson; 
font-size: small; 
border-radius: 5px;
color: white;
padding: .3em;
text-decoration: none;
}

.button:focus,
.button:hover {
background-color: FireBrick;
color: White;
}

.content {
display: none;
margin: 1em 0;
}

.content.active,
.no-js .content {
display: block;
}
</style>

<div>
  <div class="box">  
    <iframe src="https://www.scoreaxis.com/widget/standings-widget/5?columns=1%2C1%2C1%2C1%2C1%2C1%2C1%2C1%2C1&tabs=1&header=1&bg=%23FFFFFF&color=%23313934&links=0&group=" width="400%" height="1169" style="border: none;"></iframe>
  </div>
  <div class="clear"></div>
  <a style="position: absolute;" href="standings" class="button js-button" role="button">Back</a>
</div>
