<h1 style="text-align: center;">League Standings</h1>
<h4 style="text-align: center; ">Choose a league for standings and top scorers</h4>

<div class="tab" style="width: 500px; display: flex;align-items: center;justify-content: center; border: mintcream;">
    <button style="font-size: x-small;background-color: rgb(236, 206, 193);"(click)="setTab('pl-info')">Premier League</button>
    <button style="font-size: x-small; background-color: rgb(193, 248, 205);"(click)="setTab('seriea-info')">Serie A</button>
    <button style="font-size: x-small;background-color: rgb(240, 168, 168);"(click)="setTab('laliga-info')">La Liga</button>
    <button style="font-size: x-small;background-color: rgb(179, 176, 174);"(click)="setTab('bundesliga-info')">Bundes liga</button>
    <button style="font-size: x-small;background-color: rgb(154, 145, 231);"(click)="setTab('ligue1-info')">Ligue 1</button>
    <button style="font-size: x-small;background-color: rgb(167, 239, 248);"(click)="setTab('cl-info')">Champions league</button>
    <button style="font-size: x-small;background-color: rgb(247, 240, 178);" (click)="setTab('el-info')">Europa league</button>
</div>