<h1 style="text-align: center;">League Standings</h1>
<h4 style="text-align: center; ">Choose a league for standings and top scorers</h4>

<div class="tab" style="width:280px;">
    <button id="image-PL"(click)="setTab('pl-info')"></button>
    <button id="image-SA"(click)="setTab('seriea-info')"></button>
    <button id="image-Lal"(click)="setTab('laliga-info')"></button>
    <button id="image-BL"(click)="setTab('bundesliga-info')"></button>
    <button id="image-L1"(click)="setTab('ligue1-info')"></button>
    <button id="image-CL"(click)="setTab('cl-info')"></button>
    <button id="image-EL"(click)="setTab('el-info')"></button>
</div>

