<h1 style="text-align: center;">League Standings</h1>
<h4 style="text-align: center; ">Choose a league for standings and top scorers</h4>

<div class="tab" style="display: flex;align-items: center;justify-content: center; border: mintcream;">
    <button style="background-color: rgb(236, 206, 193);" class="tablinks" (click)="setTab('pl-info')">Premier League</button>
    <button style="background-color: rgb(193, 248, 205);" class="tablinks" (click)="setTab('seriea-info')">Serie A</button>
    <button style="background-color: rgb(240, 168, 168);" class="tablinks" (click)="setTab('laliga-info')">La Liga</button>
    <button style="background-color: rgb(179, 176, 174);" class="tablinks" (click)="setTab('bundesliga-info')">Bundesliga</button>
    <button style="background-color: rgb(154, 145, 231);" class="tablinks" (click)="setTab('ligue1-info')">Ligue 1</button>
    <button style="background-color: rgb(167, 239, 248);" class="tablinks" (click)="setTab('cl-info')">CL</button>
    <button style="background-color: rgb(247, 240, 178);" class="tablinks" (click)="setTab('el-info')">EL</button>
</div>